<div class="login-container">
  <div class="login-box">
    <h2>Sign in</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="login">Login</label>
        <input 
          type="text" 
          id="login" 
          formControlName="username" 
          required>
      </div>
      
      <div class="form-group">
        <label for="password">Password</label>
        <input 
          type="password" 
          id="password" 
          formControlName="password" 
          required>
      </div>

      <button type="submit" class="sign-in-button" [disabled]="!loginForm.valid">Sign in</button>
    </form>
  </div>
</div>